/*---------------------------------------------------------------------------------
	Gutenberg editor styles for McBain
---------------------------------------------------------------------------------*/

body {
	color: #121212;
	font-family: "IBM Plex Sans", "Noto Sans", -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
	font-size: 18px;
	font-weight: 400;
}

code {
	font-size: 0.8889rem;
	padding: 0 1px;
	color: #d8400f;
}

.wp-block-code {
	font-size: 0.833rem;
	border: 1px solid #ccc;
	margin-bottom: 2rem;
	padding: 16px;
}

.wp-caption {
	display: block;
	max-width: 100%;
}

figcaption {
	font-size: 0.8333rem;
	margin: 8px 0 0;
	color: #666666;
}
