/*---------------------------------------------------------------------------------
	Gutenberg editor styles for McBain
---------------------------------------------------------------------------------*/

body {
	color: #121212;
	font-family: "Noto Serif", "PT Serif", "Droid Serif", Georgia, serif;
	font-size: 18px;
	font-weight: 400;
}

code {
	font-size: 0.8889rem;
	padding: 0 1px;
	color: #d8400f;
}

.wp-block-code {
	font-size: 0.833rem;
	border: 1px solid #ccc;
	margin-bottom: 2rem;
	padding: 16px;
}
